:root {
    --text-dark: #000000;
    --text-light: #ffffff;
    --text-grey: #adbbdc;
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --primary-accent: #0a2540;
    --blue-1: #00d4ff;
    --bg-white: #ffffff;
    --bg-light: #f7f9fc;
    --primary-button-hover: #6d7a88;
    /*  font styles */
    --body-font: "Roboto", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
    /* sizes */
    --h1-size: 94px;
    --h1-line-height: 100px;
    --h2-size: 50px;
    --h2-line-height: 75px;
    --h3-size: 40px;
    --h2-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --subtitle-size: 17px;
    --subtitle-line-height: 26px;
    --p-size: 18px;
    --p-line-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-line-height: 18px;
    --button-size: 16px;
    --standard-width: 1144px;
    /*spacing*/
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    /*box-shadow*/
    --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    /*gradient*/
    --primary-gradient: linear-gradient (101.33deg,
            #08209a 0.76%,
            #6563ff 33.33%,
            #36c5f0 76.92%,
            #83e2ff 96.96%);

}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: var(spacing-sm) 0 0 0;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    margin: var(--spacing-xl) 0 0 0;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h1-size);
    margin: 0;
    width: 100%;
    letter-spacing: -1px;
    line-height: var(h1-line-height);
}

h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}

h3 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;

}

h4 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h4-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;

}

h5 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h5-size);
    margin: 0;
    width: 100%;

}

h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: var(--h6-size);
    margin: 0;
    width: 100%;

}

a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: 500;
    transition: color 0.25s ease;
}

a:hover {
    color: var(--primary-accent);
    cursor: pointer;
}

p {
    font-size: var(--p-size);
    line-height: var(--p-line-height);
    font-weight: 500;
    margin: var(--spacing-md) 0;
}

.subtitle {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-line-height);
}

/*for blue subtitles*/
.subtitle2 {
    color: var(--blue-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-line-height);
}

/*small grey paragraphs*/
.secondary-text {
    color: var(--text-grey);
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-line-height);
    letter-spacing: 0.25px;
}

.primary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: var(--text-light);
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--primary-accent);
    transition: all 0.25s ease;
}

.primary-button:hover {
    background-color: var(--primary-button-hover);
    cursor: pointer;
}

/*button with transparent background*/
.secondary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: var(--primary-accent);
    background-color: transparent;
    transition: all 0.25s ease;
}

.secondary-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease;
}

.with-icon:hover {
    img {
        transform: translateX(5px);
        transition: transform 0.25s;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card h3 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: var(--h6-size);
    margin: 0;
    width: 100%;
}

.card .icon {
    height: 50px;
    margin-bottom: var(--spacing-sm);
}

/* navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.menu a {
    color: var(--text-light);
    margin: 0 var(--spacing-md);
    font-weight: bold;
    transition: all 0.25s ease;
}

.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar-button {
    background-color: rgb(250, 250, 250, 0.25);
}

.navbar-button:hover {
    background-color: rgb(250, 250, 250, 0.5);
}

/* layout styles*/
.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column>.column-left {
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column>.column-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}



/*hero-styles*/
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    position: absolute;
    z-index: -2;
    transform: skewY(-10deg);
    top: -52%;
}

.button-container {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: start;
    margin: var(--spacing-md) 0;
}

.button-container button:nth-of-type(2) {
    margin-left: var(--spacing-md);
    color: var(--purple-2);
}

.hero p {
    max-width: 480px;
}

.hero .hero-phone-container {
    height: 700px;
    align-items: flex-end;
}

.hero-phone {
    height: 728px;
    transform: translateY(-64px);
    transform: translateX(64px);
}

/*partners section*/
.partners-section {
    margin: var(--spacing-xl) 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.partners-section .partners-grid {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
}

.partners-grid img {
    height: 60px;
    place-self: center;
}

/* unified platform section*/
.unified-platform-section {
    padding: var(--spacing-xl) 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
}

.unified-platform-section h3 {
    width: 50%;
    margin-bottom: var(--spacing-md);
}

.unified-platform-section .primary-button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0;
}

.unified-platform-section .primary-button:hover {
    background-color: var(--primary-accent);

}

/* graphic card section*/

.graphic-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    background-color: var(--bg-light);
}

.graphic-grid #credit-card {
    grid-area: credit-card;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
}

.graphic-grid #slack-invoice {
    grid-area: slack-invoice;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
}

.graphic-grid #phone {
    grid-area: phone;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
}

.graphic-grid #dash {
    grid-area: dash;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
}

.graphic-grid {
    display: grid;
    grid-template-areas:
        "credit-card slack-invoice slack-invoice"
        "phone       slack-invoice slack-invoice"
        "phone       dash          dash"
        "phone       dash          dash";
    grid-gap: var(--spacing-lg);
    margin-top: var(--spacing-xl);
}

/* Integrations-section-styles*/
.integrations-section {
    color: var(--text-light);

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.integrations-section::before {
    content: "";
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-color: var(--primary-accent);
    position: absolute;
    left: 0;
    transform: skewY(-9deg);
    top: -15%;
    z-index: -1;


}

.integrations-section .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;
}

.integrations-section .card-container .card {
    width: 50%;
}

.integrations-section .card-container .card .secondary-button {
    color: var(--blue-1);
}

.integrations-section .column-left .primary-button {
    background-color: var(--blue-1);
    color: var(--primary-accent);
    margin: var(--spacing-md) 0 0 0;
}

.integrations-section .column-left .primary-button:hover {
    background-color: var(--bg-white);
}

#api-code,
#terminal-code {
    max-width: 470px;
    border-radius: var(--spacing-md);
}

#api-code {
    margin: 0 0 var(--spacing-md) 0;
}

/* WHY SWIPE SECTION*/
.why-swipe-section {
    padding: 280px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.why-swipe-section .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;

}

.why-swipe-section .card-container .card {
    width: 25%;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-sm) 0 0;
    box-sizing: border-box;
}

.why-swipe-section .card-container .card p {
    font-size: var(--secondary-text-size);
    color: var(--text-dark);
    font-weight: 600;
}

/*GLOBAL SECTION*/
.global-section {

    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-light);
    position: relative;
    padding: calc(var(--spacing-lg)*3) 0 calc(var(--spacing-lg)*5) 0;

}

.global-section .section-container {
    margin-top: var(--spacing-xl);
}

.global-section::before {
    content: "";
    width: 100%;
    height: 100%;
    padding: 25px 0 0 0;
    background-color: var(--primary-accent);
    position: absolute;
    left: 0;
    transform: skewY(-9deg);
    top: 0;
    z-index: -1;


}

.global-section .column-left a {
    color: var(--blue-1);
}

.global-section .column-left a:hover {
    color: var(--text-light);
}

.global-section .card-container {
    display: flex;
    margin: calc(var(--spacing-xl)*2) 0;

}

.global-section .card-container .card {
    display: flex;
    width: 25%;
    box-sizing: border-box;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-md) 0 0;

}

.global-section .card-container .card h3 {
    border-left: 4px solid var(--blue-1);
    padding: 0 0 0 var(--spacing-sm);
    box-sizing: border-box;
}



.global-section .globe-container img {
    max-width: 750px;
    opacity: 0.25;
    position: absolute;
    top: 5%;
    right: 15%;
}

/*VIRTUAL EVENTS SECTION*/
.virtual-events-section {
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing-xl)*3) 0;
    position: relative;
}

.virtual-events-section::before {
    content: "";
    width: 100%;
    background-color: var(--bg-white);
    position: absolute;
    top: -18.88%;
    height: 100%;
    z-index: -1;


}

.virtual-events-section .column-left .primary-button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0 0 0;
}

.virtual-events-section .column-left .primary-button:hover {
    background-color: var(--primary-accent);
}

.virtual-events-section .column-left {
    height: 446px;
    padding: 0 var(--spacing-xl) 0 0;
}

.swipe-sessions-card {
    width: 540px;
    height: 446px;
    box-shadow: var(--standard-box-shadow);
    border-radius: 20px;
    overflow: hidden;

}

.swipe-sessions-card:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

.swipe-sessions-card .card-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swipe-sessions-card .card-top::before {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    content: "";
    width: 100%;
    height: 150%;
    position: absolute;
    top: -40%;
    transform: skewY(-5deg);
    z-index: 1;

}

#sessions-logo {
    z-index: 2;
    width: 338px;
}

.virtual-events-section .avatars {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 10%;
    transform: rotate(-2.5deg);
}

.virtual-events-section .avatars .avatar-image {
    width: 100px;
}

#avatar-image1 {
    position: relative;
}

#avatar-image2 {
    position: absolute;
    left: 85%;
    width: 95px;
}

.virtual-events-section .card-content {
    padding: calc(var(--spacing-xl)*1.25) 0 0 var(--spacing-xl);
    box-sizing: border-box;
}

.virtual-events-section .card-content .subtitle {
    font-weight: 700;
    font-size: calc(var(--h6-size));
}

.virtual-events-section .card-content .secondary-text {
    color: var(--text-dark);
    padding: 0 calc(var(--spacing-xl)*2) 0 0;
    box-sizing: border-box;
}

/* GETTING STARTED SECTION*/
.getting-started-section {
    display: flex;
    justify-content: center;
    padding: var(--spacing-xl) 0;

}

.getting-started-section .primary-button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0;
}

.getting-started-section .primary-button:hover {
    background-color: var(--primary-accent);
}

.getting-started-section .column-right {
    flex-direction: row;

}

.getting-started-section .column-left {
    padding: 0 var(--spacing-xl) 0 0;
}

.getting-started-section .column-right .card {
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-sm) 0 0;
}

.getting-started-section .column-right .card .secondary-button {
    color: var(--purple-2);
    padding-left: 0;
}

#getting-started-section-p {
    margin: calc(var(--spacing-lg)*1.54) 0 0 0;
}

#getting-started-section-button {
    margin: var(--spacing-md) 0 0 0;
}

/* FOOTER SECTION*/
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
    padding: var(--spacing-xl) 0;
}

#footer-logo {
    max-width: 108px;
    margin: 0 0 var(--spacing-md) 0;
}

.four-columns {
    display: flex;
}

.footer .four-columns .col {
    width: 25%;
}

.footer .col ul {
    list-style: none;
    padding-left: 0;

}

.footer .col ul li {
    margin: var(--spacing-md) 0;

}

.footer .col a {
    color: var(--text-dark);
    font-weight: normal;
}

.footer .col a:hover {

    color: var(--purple-2);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--text-dark);
}

.footer .icon-link {
    display: flex;
    align-items: center;
    margin: var(--spacing-sm) 0;
}

.footer .icon-link img {
    width: 24px;
}

.footer .col h3 {
    font-size: var(--h6-size);
    font-weight: 700;

}